body { font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
.sidebar-brand-text { font-size: 1.2rem; }

/* a {color: #3399f7; }
.wy-nav-content a:visited { color: #3399f7; }
.wy-nav-content a:hover { color: #003c73; }

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a { font-size: 25px; font-weight: 200; }
.wy-side-nav-search { background-color: #5f9223; }
.wy-nav-top { background-color: #5f9223!important; }
.wy-nav-side { background: #2f3527; }
.wy-menu-vertical a:hover { background-color: #1e2318; }
.wy-menu-vertical a:active { background-color: #131510; }
.wy-side-nav-search input[type=text] { border-radius: 10px; border-color: #42710a; border-width: 4px; }
.wy-menu-vertical a { font-size: unset; }
.toctree-l3 a { font-size:90%; } */ 